.breadcrumb-item + .breadcrumb-item::before{
	content: ">"
}
.navbar-nav .nav-link, .navbar-nav .navbar .dropdown-toggle, .navbar .navbar-nav .dropdown-toggle{
	padding-right: 10px;
}
.tab-content{
	margin-bottom: 30px;
}
.pagination li a > .input-dp{
	border: none;
	height: 12px;
	text-align: center;
	color: #20a8d8;
}
.user-2 > thead > tr > .ck{
	width: 33px;
}
